<!DOCTYPE html>
<html>
  <head>
    <title>FoxChatter Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
  </head>
  <body>
    <header>
      <h1>FoxChatter</h1>>
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img src="images/redfox.png" alt="Red Fox Logo" id="redfox">
        myMarist  

      </div>
    </header>
    <main>
       <div id="newsfeed">
         Feed will go here
       </div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>

  </body>
</html>
