header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: red;
	font-size: 30px;
	color: white;
}

main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
}

footer {
	position: absolute;
	left: 0px;
  bottom: 0px;
	width: 100%;
	background-color: red;
	text-align: center;
	font-size: 20px;
}

#portal_button {
	position: fixed;
	right: 30px;
	top: 10px;
}

a {
	color: blue;
	text-decoration: none;
}

#redfox{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}

#newsfeed {
	max-width: 600px;
	min-width: 600px;
}

.feedImage {
	max-width: 150px;
	max-height: 150px;
}
