body {
	
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: red;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
}

.menu_button {
	background-color: rgba(255, 0, 0, 0.5);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
