body {
  background-image: url('.../images/https://www.google.com/imgres?q=marist%20pictures&imgurl=https%3A%2F%2Fwww.marist.edu%2Fdocuments%2F86200%2F94405%2FSTUDENT%2BCETNER%2BENTRANCE%2BSPOTLIGHT.png%2Feba278d7-2dd0-0f66-d409-89420511cd95%3Ft%3D1687894712670&imgrefurl=https%3A%2F%2Fwww.marist.edu%2Fstudent-life&docid=AxJ03jdSxnSH6M&tbnid=BNS65coqaTgcIM&vet=12ahUKEwj-kIzom-COAxWuw_ACHXVtOJIQM3oECA4QAA..i&w=570&h=390&hcb=2&ved=2ahUKEwj-kIzom-COAxWuw_ACHXVtOJIQM3oECA4QAA'); 
	background-repeat: no-repeat;
  background-position: center center;  
  background-size: cover;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: red;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
}

.menu_button {
	background-color: rgba(255, 0, 0, 0.5);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}